@font-face {
    font-family: 'Hi Melody';
    src: url(font/HiMelody-Regular.ttf);
}

html {
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar {
    display: none;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    background: #000;
}

.slide {
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

.body {
    width: 100%;
    min-height: 100%;
}

.layout {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #fff;
}
.topBar {
    position: absolute;
    top: 0;
    left: 15%;
    width: 85%;
    height: 25%;
    overflow: hidden;
}

.topBar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 30%;
}

.topBar::after {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(
        to bottom, 
    rgba(0, 0, 0, 82%), 
    rgba(27, 27, 27, 82%)
    );
    border-bottom: 2px solid black;

    z-index: 1;
}

.topBar-text {
    font-family: 'Hi Melody';
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    filter:
        drop-shadow(1px 0 black)
        drop-shadow(-1px 0 black)
        drop-shadow(0 1px black)
        drop-shadow(0 -1px black)
        drop-shadow(1px 1px black)
        drop-shadow(-1px -1px black)
        drop-shadow(1px -1px black)
        drop-shadow(-1px 1px black);
    text-align: center;

    margin-top: 1%;
}

.topBar-text h1 {
    font-size: 7cqw;
    margin: 0;
    line-height: 0.8;
}

.topBar-text p {
    font-size: 3cqw;
    margin: 1cqw 0 0;
}

.sidebar {
    position: fixed;

    top: 0;
    left: 0;

    width: 15%;
    height: 100vh;

    box-sizing: border-box;

    border-right: 2px solid black;

    background-image: linear-gradient(
        to bottom,
        #42113C 35%,
        #370926 71%,
        #1C0118
    );

    color: white;

    z-index: 100;
}


.pfp-container {
    width: 70%;
    aspect-ratio: 1 / 1;

    border-radius: 50%;
    overflow: hidden;

    margin: 7% auto 0;
    margin-top: 5%;

    border: 5px solid black;
    box-sizing: border-box;
}

.pfp {
    width: 100%;
    height: 100%;

    object-fit: cover;

    transform: scale(1.2) translateX(-5px);
}

.name {
    font-family: 'Hi Melody';

    font-size: clamp(20px, 3vw, 48px);
    text-align: center;
    margin-top: -2%;
    color: white;
}

.name p {
    margin: 0;
}

.content {
    position: absolute;
    top: 25%;
    left: 15%;
    width: 85%;
    height: 75%;
    overflow: hidden;
}

.content > img{
    width: 130%;
    position: absolute;
    top: -40%;
    left: -20%;
}

.content::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient( to bottom, 
    rgba(188, 57, 8, 82%) 66%, 
    rgba(246, 170, 28, 82%)
    );
    z-index: 1;
}

.content-prog {
    position: absolute;
    top: 25%;
    left: 15%;
    width: 85%;
    height: 75%;
    overflow: hidden;
}

.content-prog > img{
    width: 130%;
    position: absolute;
    top: -10%;
    left: -20%;
}

.content-prog::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient( to bottom, 
    rgba(188, 57, 8, 82%) 66%, 
    rgba(246, 170, 28, 82%)
    );
    z-index: 1;
}

.Buttons {
    position: absolute;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 80%;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    padding-top: 3cqw;
    box-sizing: border-box;

    z-index: 2;
}

.buttonstuff {
    position: relative;
    overflow: hidden;

    width: 18cqw;
    height: 23cqw;

    padding: 0;
    margin: 2cqw;

    border: 0.08cqw solid black;
    border-radius: 0.7cqw;

    cursor: pointer;
    transition: 0.2s ease;
}

.VGameProjects-text {
    position: absolute;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Hi Melody';
    font-size: 3.5cqw;
    text-align: center;

    color: white;
    z-index: 2;
}

.VGameProjects-text h5 {
    margin: 0;
}

.buttonstuff:hover {
    transform: scale(1.05);
}

.VGameProjects {
    position: relative;
    width: 100%;
    height: 100%;
}

.VGameProjects img {
    width: 100%;
    height: 100%;
    transform: scale(1.6) translateX(7%) translateY(-8%);
}

.VGameProjects::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    pointer-events: none;
}

.HCDgdd {
    position: relative;
    width: 100%;
    height: 100%;
}

.HCDgdd img {
    width: 100%;
    height: 100%;
    transform: scale(1.8) translateX(7%) translateY(-7%);
}

.HCDgdd::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    pointer-events: none;
}
.HCDgdd-text {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Hi Melody';
    font-size: 3.5cqw;
    text-align: center;
    color: white;
    z-index: 2;
}

.HCDgdd-text h5 {
    margin: 0;
}

.prototype {
    position: relative;
    width: 100%;
    height: 100%;
}

.prototype img {
    width: 100%;
    height: 100%;
    transform: scale(2) translateX(7%) translateY(20%);
}

.prototype::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    pointer-events: none;
}
.prototype-text {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Hi Melody';
    font-size: 3.5cqw;
    text-align: center;
    color: white;
    z-index: 2;
}

.prototype-text h5 {
    margin: 0;
}

.Buttons-art {
    position: absolute;
    top: -5%;
    left: 10%;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1cqw;
    padding-top: 3cqw;
    box-sizing: border-box;
    z-index: 2;
}

.art-row {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 3cqw;
}

.buttonstuff-art {
    position: relative;
    overflow: hidden;

    width: 12cqw;
    height: 17cqw;

    margin: 0;

    border: 0.08cqw solid black;
    border-radius: 0.7cqw;

    cursor: pointer;
    transition: 0.2s ease;
}

.buttonstuff-art:hover {
    transform: scale(1.05);
}

.illustrations img {
    width: 100%;
    height: 100%;
    transform: scale(2.5) translateX(7%) translateY(15%);
}

.illustrations::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    pointer-events: none;
}

.illustrations-text {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Hi Melody';
    font-size: 3.5cqw;
    text-align: center;
    color: white;
    z-index: 2;
}

.sketch img {
    width: 100%;
    height: 100%;
    transform: scale(2.5) translateX(-2%) translateY(15%);
}

.sketch::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    pointer-events: none;
}

.sketch-text {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Hi Melody';
    font-size: 3.5cqw;
    text-align: center;
    color: white;
    z-index: 2;
}

.assets img {
    width: 100%;
    height: 100%;
    transform: scale(2.5) translateX(-15%) translateY(15%);
}

.assets::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    pointer-events: none;
}

.assets-text {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Hi Melody';
    font-size: 3.5cqw;
    text-align: center;
    color: white;
    z-index: 2;
}

.concept img {
    width: 100%;
    height: 100%;
    transform: scale(2.5) translateX(-15%) translateY(15%);
}

.concept::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    pointer-events: none;
}

.concept-text {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Hi Melody';
    font-size: 3.5cqw;
    text-align: center;
    color: white;
    z-index: 2;
}

.models img {
    width: 100%;
    height: 100%;
    transform: scale(2.8) translateX(0%) translateY(25%);
}

.models::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    pointer-events: none;
}

.models-text {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Hi Melody';
    font-size: 3.5cqw;
    text-align: center;
    color: white;
    z-index: 2;
}

.gameProgramming img {
    width: 100%;
    height: 100%;
    transform: scale(6) translateX(-2%) translateY(25%);
}

.gameProgramming::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    pointer-events: none;
}

.gameProgramming-text {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Hi Melody';
    font-size: 3.5cqw;
    text-align: center;
    color: white;
    z-index: 2;
}

.generalProg img {
    width: 100%;
    height: 100%;
    transform: scale(2.5) translateX(30%) translateY(25%);
}

.generalProg::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    pointer-events: none;
}

.generalProg-text {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Hi Melody';
    font-size: 3.5cqw;
    text-align: center;
    color: white;
    z-index: 2;
}